# React - 의존성 및 빌드 결과물
node_modules/
build/
dist/
.pnp.*
.yarn/

# React - 환경 변수 파일
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# STS 4 & Eclipse - IDE 설정 파일
.settings/
.classpath
.project
.factorypath
.springBeans
.sts4-cache/

# 운영체제(OS) 및 기타
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
