.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  margin: 0 5px;
  padding: 8px 12px;
  border: none;
  background: #ddd;
  cursor: pointer;
  border-radius: 4px;
}

.pagination .active {
  background-color: #439395;
  color: white;
  font-weight: bold;
}

.pagination button:disabled {
  opacity: 0.4;
}

.no-articles {
  text-align: center;
  margin: 40px 0;
  font-size: 18px;
  color: #999;
}